@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using Api.Server.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "接口文档";

    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<div id="body" class="help-page">
    <div id="leftmenu">
        <a href="https://tools.ietf.org/html/rfc6749#section-1.3.1" target="_blank">单点登录</a>
        @foreach (var group in apiGroups)
        {
            var controllerDocumentation = ViewBag.DocumentationProvider != null ?
           ViewBag.DocumentationProvider.GetDocumentation(group.Key) :
           null;
            <a href="#@group.Key.ControllerName">@controllerDocumentation</a>
        }
    </div>
    <div style=" width:800px; float:left;margin-left:150px">
        <section class="content-wrapper main-content clear-fix">
            @foreach (var group in apiGroups)
            {
                @Html.DisplayFor(m => group, "ApiGroup")
            }
        </section>
    </div>
</div>