﻿@using System
@using System.Linq
@using System.Security.Claims
@using System.Web
@using Microsoft.Owin.Security
@{
    var authentication = Context.GetOwinContext().Authentication;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<body>
    <form method="POST">
        <h2>登录</h2>
        <ul>
            <li>
                <label for="username">用户名: </label>
                <input type="text" id="username" name="username" />
            </li>
            <li>
                <label for="password">密码: </label>
                <input type="password" id="password" name="password" />
            </li>
            <li>
                <input type="submit" name="submit.Signin" value="登录" />
            </li>
        </ul>
    </form>
</body>
</html>